* {margin: 0;padding: 0;box-sizing: border-box;list-style: none;}
:root{

    /*### Primary*/
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    /*### Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    --gap: 3.2rem;--gap-lg:calc(var(--gap) * 1.4);--gap-xlg:calc(var(--gap) * 2);--gap-sm:calc(var(--gap) * 0.5);
    --font : "Poppins", sans-serif;
    --font-size:3.65rem;
}
html{font-size: 62.5%;}
body{font-size: 1.5rem;font-family: var(--font);background-color: var(--Very-Light-Gray);color: var(--Grayish-Blue);}
.container{min-width: 375px;max-width: 1440px;margin:auto;padding:var(--gap-lg) var(--gap);}
.header{text-align: center;width: 100%;max-width: 520px;margin:auto;font-weight: 200;}
.header .title{margin:var(--gap) auto  var(--gap-sm);font-size: var(--font-size);}
.header .title strong{color: var(--Very-Dark-Blue);}
.card-wrap{max-width: 1100px; width: 100%; margin: var(--gap-xlg) auto; display: grid;grid-template-columns: repeat(3,1fr);gap: var(--gap);place-items: center;}
.card{
    width: 100%;
    min-height: 240px;
    padding: var(--gap);
    background-color: #fff;
    margin-bottom: var(--gap);
    border-radius: .5rem;
    border-top: 4px solid;
    box-shadow: 0 2rem 2rem rgba(0, 65, 126, 0.1);
    background: url(images/icon-supervisor.svg) no-repeat;
    background-position: 90% 90%;
    & h3{color: var(--Very-Dark-Blue);margin-bottom: .2em;}
    & p{font-size: 0.9em;}
}
.cyan{border-color: var(--Cyan) !important;}
.red{border-color: var(--Red) !important; background-image: url(images/icon-team-builder.svg);}
.orange{border-color: var(--Orange) !important;background-image: url(images/icon-karma.svg);}
.blue{border-color: var(--Blue) !important; background-image: url(images/icon-calculator.svg);}

@media (max-width:375px) {
    :root{
        --font-size:2.3rem
    }
    .card-wrap{display: block;}    
}